<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>

    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="description" content="EduPlus | Education & Courses HTML5 Template" />
    <meta name="keywords" content="academy, course, education, education html theme, elearning, learning," />
    <meta name="author" content="ThemeMascot" />

    <title>Khoa Điện - Điện Tử</title>

    <link href="~/template-client/images/favicon.png" rel="shortcut icon" type="image/png">

    <link href="~/template-client/images/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="~/template-client/images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
    <link href="~/template-client/images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
    <link href="~/template-client/images/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">

    <link href="~/template-client/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/template-client/css/jquery-ui.min.css" rel="stylesheet" type="text/css">
    <link href="~/template-client/css/animate.css" rel="stylesheet" type="text/css">
    <link href="~/template-client/css/css-plugin-collections.css" rel="stylesheet" />
    <link id="menuzord-menu-skins" href="~/template-client/css/menuzord-skins/menuzord-boxed.css" rel="stylesheet" />
    <link href="~/template-client/css/style-main.css" rel="stylesheet" type="text/css">
    <link href="~/template-client/css/preloader.css" rel="stylesheet" type="text/css">
    <link href="~/template-client/css/custom-bootstrap-margin-padding.css" rel="stylesheet" type="text/css">
    <link href="~/template-client/css/responsive.css" rel="stylesheet" type="text/css">
    <link href="~/template-client/css/ionicons.css" rel="stylesheet" />
    <link href="~/template-client/js/revolution-slider/css/settings.css" rel="stylesheet" type="text/css" />
    <link href="~/template-client/js/revolution-slider/css/layers.css" rel="stylesheet" type="text/css" />
    <link href="~/template-client/js/revolution-slider/css/navigation.css" rel="stylesheet" type="text/css" />
    <link href="~/template-client/css/colors/theme-skin-color-set1.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="~/template-client/js/jquery-2.2.4.min.js"></script>
    <script src="~/template-client/js/jquery-ui.min.js"></script>
    <script src="~/template-client/js/bootstrap.min.js"></script>
    <script src="~/template-client/js/jquery-plugin-collection.js"></script>

    <script src="~/template-client/js/revolution-slider/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/template-client/js/revolution-slider/js/jquery.themepunch.revolution.min.js"></script>

</head>
<body class="">
    <div id="wrapper" class="clearfix">

        @Html.Partial("_Preloader")

        <header id="header" class="header">
        </header>
        @Html.Partial("_TopHeader")
        @Html.Partial("_MiddleHeader")
        @{Html.RenderAction("Menu", "Home");}
        <div class="main-content">
            @RenderBody()
        </div>

        @Html.Partial("_Footer")

        <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
    </div>

    <script src="~/template-client/js/custom.js"></script>

    <script type="text/javascript" src="~/template-client/js/revolution-slider/js/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="~/template-client/js/revolution-slider/js/extensions/revolution.extension.carousel.min.js"></script>
    <script type="text/javascript" src="~/template-client/js/revolution-slider/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="~/template-client/js/revolution-slider/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="~/template-client/js/revolution-slider/js/extensions/revolution.extension.migration.min.js"></script>
    <script type="text/javascript" src="~/template-client/js/revolution-slider/js/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="~/template-client/js/revolution-slider/js/extensions/revolution.extension.parallax.min.js"></script>
    <script type="text/javascript" src="~/template-client/js/revolution-slider/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="~/template-client/js/revolution-slider/js/extensions/revolution.extension.video.min.js"></script>

</body>
</html>